<form class="mat-elevation-z8"
  [formGroup]="regionCreatorForm"
  (ngSubmit)="onSubmit(regionCreatorForm.value)">

  <small><b>Додати регіон</b></small>

  <div class="alert danger" *ngIf="regionService.error$ | async as error">
    {{ error }}
  </div>

  <div class="alert info" *ngIf = "message && regionCreatorForm.untouched">
    {{ message }}
  </div>

  <mat-form-field>
    <mat-label>введіть назву регіону...</mat-label>
    <input matInput
           title="nameInput"
           type="text"
           formControlName="name">
  </mat-form-field>

  <mat-form-field title="country">
    <mat-label>країна проведення...</mat-label>
    <input type="text"
           placeholder="країна проведення..."
           aria-label="country"
           matInput
           formControlName="country"
           [matAutocomplete]="country">
    <mat-autocomplete #country="matAutocomplete">
      <mat-option *ngFor="let option of countryFilteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <small>група регіонів: </small>
  <mat-radio-group title="regionsgroup" formControlName="regionsgroup">
    <mat-radio-button value="1">перша</mat-radio-button>
    <mat-radio-button value="2">друга</mat-radio-button>
    <mat-radio-button value="3">третя</mat-radio-button>
  </mat-radio-group>

  <button mat-button
          color="primary"
          [disabled]="regionCreatorForm.invalid || regionCreatorForm.disabled">Додати
  </button>
</form>




