<form
      [formGroup]="countryCreatorForm"
      (ngSubmit)="onSubmit()">

  <h4>Додати країну</h4>

  <div class="alert danger" *ngIf="countryService.error$ | async as error">
    {{ error }}
  </div>

  <div class="alert info" *ngIf = "message && countryCreatorForm.untouched">
    {{ message }}
  </div>

  <mat-form-field>
    <mat-label>введіть назву...</mat-label>
    <input matInput
           title="nameInput"
           type="text"
           formControlName="name">
  </mat-form-field>

  <button mat-button
          color="primary"
          [disabled]="countryCreatorForm.invalid || submitted">Додати
  </button>
</form>



