<div *ngIf="statistic; else loader">

<h1>{{statistic.appointment.title}}</h1>
<p><b>Дата початку:  </b>{{statistic.appointment.start | date : 'dd.MM.yy'}}</p>
<p><b>Дата завершення:  </b>{{statistic.appointment.finish | date : 'dd.MM.yy'}}</p>
<p><b>Місце проведення: </b>{{statistic.appointment.appointment_place.country.country_name | titlecase}}{{' ' + statistic.appointment.appointment_place.region.region_name + ' ' +
statistic.appointment.appointment_place.town.town_name}}</p>
<p>{{statistic.appointment.appointment_place.appointment_place_name + ' '+ statistic.appointment.appointment_place.address}}</p>

<table>
  <tr>
    <th [ngStyle]="{textAlign: 'left'}"> Кількість учасників: </th>
    <th [ngStyle]="{textAlign: 'left'}"> План </th>
    <th [ngStyle]="{textAlign: 'left'}"> Факт </th>
  </tr>
  <tr>
    <td>країн</td>
    <td>{{statistic.countries_plan}}</td>
    <td>{{statistic.countries_fact}}</td>
  </tr>
  <tr>
    <td>регіонів</td>
    <td>{{statistic.regions_plan}}</td>
    <td>{{statistic.regions_fact}}</td>
  </tr>
  <tr>
    <td>закладів освіти</td>
    <td>{{statistic.educationentity_plan}}</td>
    <td>{{statistic.educationentity_fact}}</td>
  </tr>
  <tr>
    <td>учасників</td>
    <td>{{statistic.sportsmen_plan}}</td>
    <td>{{statistic.sportsmen_fact}}</td>
  </tr>
  <tr>
    <td>тренерів</td>
    <td>{{statistic.coaches_plan}}</td>
    <td>{{statistic.coaches_fact}}</td>
  </tr>
  <tr>
    <td>суддів</td>
    <td>{{statistic.referees_plan}}</td>
    <td>{{statistic.referees_fact}}</td>
  </tr>
  <tr>
    <td>інших</td>
    <td>{{statistic.others_plan}}</td>
    <td>{{statistic.others_fact}}</td>
  </tr>
  <tr>
    <td>всього</td>
    <td>{{statistic.total_plan}}</td>
    <td>{{statistic.total_fact}}</td>
  </tr>
</table>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
