<div class="table-container"
     *ngIf="appointmentPlace$ | async as appointmentPlaces; else: loader">

  <nav>
    <ul>
      <li>
        <button
          mat-raised-button
          color="primary"
          (click)="goToAppointmentPlaceCreator()">
          Додати місце проведення
        </button>
      </li>
      <li>
        <mat-label title="search">пошук:</mat-label>
        <mat-form-field>
          <input
            matInput
            title="search"
            type="text"
          >
        </mat-form-field>
      </li>
    </ul>
  </nav>

  <table mat-table class="mat-elevation-z8"
         [dataSource]="appointmentPlaces | paginate: { itemsPerPage: 10, currentPage: paginatorStartPageNumber }">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let appointmentPlace">
        {{appointmentPlace.id}}
      </td>
    </ng-container>

    <ng-container matColumnDef="appointmentPlaceName">
      <th mat-header-cell *matHeaderCellDef>Місце проведення</th>
      <td mat-cell *matCellDef="let appointmentPlace">
        <b>{{appointmentPlace.appointmentPlaceName}}</b>
      </td>
    </ng-container>

    <ng-container matColumnDef="appointmentPlaceAddress">
      <th mat-header-cell *matHeaderCellDef>Адреса</th>
      <td mat-cell *matCellDef="let appointmentPlace">
        {{appointmentPlace.address}}
        <span>, місто: </span>{{appointmentPlace.town.townName}}
        <span>, регіон: </span>{{appointmentPlace.region.regionName}}
        <span>, країна: </span>{{appointmentPlace.country.countryName | titlecase}}
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Редагувати</th>
      <td mat-cell *matCellDef="let appointmentPlace">
        <button mat-button color="primary"
                (click)="goToAppointmentPlaceEditor(appointmentPlace.id)">Редагувати
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Редагувати</th>
      <td mat-cell *matCellDef="let appointmentPlace">
        <button
          mat-button color="primary"
          (click)="deleteAppointmentPlace(appointmentPlace.id)"
        >Видалити
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="appointmentPlaceCountry">
      <th mat-header-cell *matHeaderCellDef>Країна проведення</th>
      <td mat-cell *matCellDef="let appointmentPlace">
        {{appointmentPlace.appointmentPlaceName}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  </table>
</div>

<pagination-controls
  class="my-pagination"
  (pageChange)="paginatorStartPageNumber = $event"
  previousLabel="назад"
  nextLabel="уперед"
></pagination-controls>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
