<h2>Admin panel</h2>
<nav>
  <ul *ngIf="auth.role() === 'superAdmin' || auth.role() === 'admin'">
    <li>
      <a routerLink="activities" routerLinkActive="active">Фізична культура</a>
    </li>
    <li>
      <a routerLink="sports" routerLinkActive="active">Спорт</a>
    </li>
    <li>
      <a routerLink="schedule" routerLinkActive="active">Календар</a>
    </li>
    <li>
      <a routerLink="statistic" routerLinkActive="active">Звіти</a>
    </li>
    <li>
      <a routerLink="calendar" routerLinkActive="active">ЄКПФОСЗУ</a>
    </li>
    <li>
      <a routerLink="teacher" routerLinkActive="active">Викладачам</a>
    </li>
    <li>
      <a routerLink="organizator" routerLinkActive="active">Організаторам</a>
    </li>
    <li>
      <a (click)="auth.logOut()" routerLinkActive="active">LogOut</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

<a (click)="goToMainPage()">на головну</a>
