<h2>Admin panel</h2>
<nav>
  <ul *ngIf="auth.isAuthenticated()">
    <li>
      <a routerLink="activities" routerLinkActive="active">Фізична культура</a>
    </li>
    <li>
      <a routerLink="sports" routerLinkActive="active">Спорт</a>
    </li>
    <li>
      <a routerLink="schedule" routerLinkActive="active">Календар</a>
    </li>
    <li>
      <a routerLink="rating" routerLinkActive="active">Рейтинг</a>
    </li>
    <li>
      <a routerLink="statistic" routerLinkActive="active">Статистика</a>
    </li>
    <li>
      <a (click)="auth.logOut()" routerLinkActive="active">LogOut</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
<a (click)="goToMainPage()">на головну</a>
