<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<div *ngIf="regionForm; else loader">

  <form [formGroup]="regionForm">

    <small>{{createOrEditLabelName}}</small>

    <mat-form-field class="forms-inputs">
      <mat-label>введіть назву регіону...</mat-label>
      <input matInput
             title="nameInput"
             type="text"
             formControlName="regionName"
             #regionNameInput
      >
    </mat-form-field>

    <mat-form-field
      *ngIf="creatorOrEditor"
      class="forms-inputs"
                    title="country">
      <mat-label>країна проведення...</mat-label>
      <input type="text"
             placeholder="країна проведення..."
             aria-label="country"
             matInput
             formControlName="countryName"
             [matAutocomplete]="country">
      <mat-autocomplete #country="matAutocomplete">
        <mat-option *ngFor="let option of countryFilteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <small>група регіонів</small>
    <mat-radio-group title="group" formControlName="regionGroup">
      <mat-radio-button value = "I">перша</mat-radio-button>
      <mat-radio-button value = "II">друга</mat-radio-button>
      <mat-radio-button value = "III">третя</mat-radio-button>
      <mat-radio-button value = "IV">без категорії</mat-radio-button>
    </mat-radio-group>

    <button mat-button
            color="primary"
            type="button"
            (click)="onSubmit(regionForm.value)"
            [disabled]="regionForm.invalid || submitted"
    >
      Зберегти
    </button>

    <button mat-button
            color="primary"
            type="button"
            (click)="resetTownForm()"
    >
      Скасувати
    </button>
  </form>

</div>

