<div *ngIf="appointment$ | async as appointment; else loader">
  <h1>{{appointment.title}}</h1>
  <h2>Дата початку:</h2>
  <p>{{appointment.start | date : 'dd.MM.yy'}}</p>
  <h2>Дата завершення:</h2>
  <p>{{appointment.finish | date : 'dd.MM.yy'}}</p>
  <h2>Місце проведення:</h2>
  <p>{{appointment.appointment_place.appointment_place_name }}</p>
  <p>{{appointment.appointment_place.country.country_name | titlecase}}{{' '
  + appointment.appointment_place.region.region_name + ' ' +
  appointment.appointment_place.town.townName+ ' ' + appointment.appointment_place.address}}</p>

</div>

<ng-template #loader>
  <mat-spinner></mat-spinner>
</ng-template>
