<div *ngIf="appointment$ | async as appointment; else loader">
  <h1>{{appointment.title}}</h1>
  <h2>Дата початку:</h2>
  <p>{{appointment.startDate | date : 'dd.MM.yy'}}</p>
  <h2>Дата завершення:</h2>
  <p>{{appointment.finishDate | date : 'dd.MM.yy'}}</p>
  <h2>Місце проведення:</h2>
  <p>{{appointment.place.sportHall }}</p>
  <p>{{appointment.place.country + ' ' + appointment.place.region + ' ' +
  appointment.place.town+ ' ' + appointment.place.address}}</p>

</div>

<ng-template #loader>
  <mat-spinner></mat-spinner>
</ng-template>
