<h1>{{appointmentFinancing.appointment.title}}</h1>
<p><b>Дата початку:  </b>{{appointmentFinancing.appointment.start | date : 'dd.MM.yy'}}</p>
<p><b>Дата завершення:  </b>{{appointmentFinancing.appointment.finish | date : 'dd.MM.yy'}}</p>
<p><b>Місце проведення:</b>
  {{appointmentFinancing.appointment.place.country + ' ' +
    appointmentFinancing.appointment.place.region + ' ' +
    appointmentFinancing.appointment.place.town + ' ' +
    appointmentFinancing.appointment.place.sportHall + ' ' +
    appointmentFinancing.appointment.place.address}}
</p>

<table>
  <tr>
    <th [ngStyle]="{textAlign: 'left'}"> Витрати: </th>
    <th [ngStyle]="{textAlign: 'left'}"> План </th>
    <th [ngStyle]="{textAlign: 'left'}"> Факт </th>
  </tr>
  <tr>
    <td>2210</td>
    <td>{{appointmentFinancing.expensesPlan.kekv2210 | number : '1.1-3'}}</td>
    <td>{{appointmentFinancing.expensesFact.kekv2210 | number : '1.1-3'}}</td>
  </tr>
  <tr>
    <td>2220</td>
    <td>{{appointmentFinancing.expensesPlan.kekv2220 | number : '1.1-3'}}</td>
    <td>{{appointmentFinancing.expensesFact.kekv2220 | number : '1.1-3'}}</td>
  </tr>
  <tr>
    <td>2240</td>
    <td>{{appointmentFinancing.expensesPlan.kekv2240 | number : '1.1-3'}}</td>
    <td>{{appointmentFinancing.expensesFact.kekv2240 | number : '1.1-3'}}</td>
  </tr>
  <tr>
    <td>всього</td>
    <td>{{appointmentFinancing.expensesPlan.total | number : '1.1-3'}}</td>
    <td>{{appointmentFinancing.expensesFact.total | number : '1.1-3'}}</td>
  </tr>
</table>
