<h1>Активна молодь!</h1>
<nav>
  <ul>
    <li>
      <a routerLink="main" routerLinkActive="active">Головна</a>
    </li>
    <li>
      <a routerLink="activities" routerLinkActive="active">Фізична культура</a>
    </li>
    <li>
      <a routerLink="sports" routerLinkActive="active">Спорт</a>
    </li>
    <li>
      <a routerLink="schedule" routerLinkActive="active">Календар</a>
    </li>
    <li>
      <a routerLink="rating" routerLinkActive="active">Рейтинги</a>
    </li>
    <li>
      <a routerLink="teacher" routerLinkActive="active">Викладачам</a>
    </li>
    <li>
      <a routerLink="organizator" routerLinkActive="active">Організаторам</a>
    </li>
  </ul>
  <button mat-button color="primary" (click)="goToLoginPage()" [ngStyle]="{color: 'black'}">
    Увійти
  </button>
</nav>

<router-outlet></router-outlet>
