<nav>
  <ul>
    <li>
      <button mat-button color="primary" class="widthButton" (click)="changeEduEntityType('ЗЗСО')">
        ЗЗСО
      </button>
    </li>
    <li>
      <button mat-button color="primary" class="widthButton" (click)="changeEduEntityType('ЗП(ПТ)О')">
        ЗП(ПТ)О
      </button>
    </li>
    <li>
      <button mat-button color="primary" class="widthButton" (click)="changeEduEntityType('ЗФПВО')">
        ЗФПВО
      </button>
    </li>
    <li>
      <button mat-button color="primary" class="widthButton" (click)="changeEduEntityType('ЗВО')">
        ЗВО
      </button>
    </li>
  </ul>
</nav>

<div *ngIf="educationEntitiesList; else loader">

  <table mat-table
         *ngIf="educationEntitiesList.length > 0; else emptyListMessage"
         [dataSource]="educationEntitiesList | paginate: { itemsPerPage: 12, currentPage: paginatorStartPageNumber }"
         class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>
        ID
        <button
          mat-button color="primary"
          [innerHTML]="sortDirection ? '&#8595;' : '&#8593;'"
          (click) = "sortTable('id')"
        >
        </button>
      </th>
      <td mat-cell *matCellDef="let educationEntity">
        {{educationEntity.id}}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        Заклад освіти
        <button
          mat-button color="primary"
          [innerHTML]="sortDirection ? '&#8595;' : '&#8593;'"
          (click) = "sortTable('name')"
        >
        </button>
      </th>
      <td mat-cell *matCellDef="let educationEntity">
        {{educationEntity.name}}
      </td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>Країна</th>
      <td mat-cell *matCellDef="let educationEntity">
        {{educationEntity.region.country.countryName | titlecase}}
      </td>
    </ng-container>

    <ng-container matColumnDef="region">
      <th mat-header-cell *matHeaderCellDef>Регіон</th>
      <td mat-cell *matCellDef="let educationEntity">
        {{educationEntity.region.regionName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Категорія</th>
      <td mat-cell *matCellDef="let educationEntity">
        {{educationEntity.category}}
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>
        Редагувати
      </th>
      <td mat-cell *matCellDef="let educationEntity">
        <button mat-button color="primary"
                type="button"
                (click)="goToEducationEntityEditor(educationEntity.id)"
        >
          Редагувати
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>
        Видалити
      </th>
      <td mat-cell *matCellDef="let educationEntity">
        <button mat-button color="primary"
                (click)="callDeletion(educationEntity.id)">
          Видалити
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

</div>

<pagination-controls
  class="my-pagination"
  (pageChange)="paginatorStartPageNumber = $event"
  previousLabel="назад"
  nextLabel="уперед"
></pagination-controls>

<ng-template #emptyListMessage>
  <h3 [ngStyle]="{textAlign: 'center', fontFamily: 'oswald, sans serif'}">База даних закладів освіти порожня</h3>
</ng-template>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<app-deletion-confirmer
  [show]="showDeleteConfirmation"
  [option]="option"
  (confirm)="onDelete($event)"
></app-deletion-confirmer>

