<form *ngIf="sportKindEditorForm; else loader" class="login-container"
      [formGroup]="sportKindEditorForm"
      (ngSubmit)="onSubmit(sportKindEditorForm.value)">

  <h3>Змініть вид спорту (активності)</h3>

  <div class="alert danger" *ngIf="sportKindService.error$ | async as error">
    {{ error }}
  </div>

  <div class="alert info" *ngIf = "message && sportKindEditorForm.untouched">
    {{ message }}
  </div>

  <mat-form-field class="forms-inputs">
    <mat-label>введіть назву виду активності...</mat-label>
    <input matInput
           title="sportkindInput"
           type="text"
           formControlName="sport_kind">
  </mat-form-field>

  <mat-form-field class="forms-inputs">
    <mat-label>введіть реєстровий номер виду активності...</mat-label>
    <input matInput
           title="codeInput"
           type="text"
           formControlName="code">
  </mat-form-field>

  <button mat-button
          color="primary"
          [disabled]="sportKindEditorForm.invalid || submitted">Зберегти зміни
  </button>
</form>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
