<form *ngIf="sportKindEditorForm; else loader" class="login-container"
      [formGroup]="sportKindEditorForm"
      (ngSubmit)="onSubmit(sportKindEditorForm.value)">

  <h3>Змініть вид спорту (активності)</h3>

  <div class="alert danger" *ngIf="sportKindService.error$ | async as error">
    {{ error }}
  </div>

  <div class="alert info" *ngIf="message && sportKindEditorForm.untouched">
    {{ message }}
  </div>

  <mat-form-field class="forms-inputs">
    <mat-label>введіть назву виду активності...</mat-label>
    <input matInput
           title="sportkindInput"
           type="text"
           formControlName="sport_kind">
  </mat-form-field>


  <b>оберіть групу видів спорту:</b>
  <mat-radio-group title="programInput" formControlName="program">
    <mat-radio-button value="І">олімпійські</mat-radio-button>
    <mat-radio-button value="ІІ">неолімпійські</mat-radio-button>
    <mat-radio-button value="ІІІ">пара(деф)лімпійські</mat-radio-button>
    <mat-radio-button value="IV">інші</mat-radio-button>
  </mat-radio-group>
  <mat-form-field class="forms-inputs">
    <mat-label>введіть реєстровий номер...</mat-label>
    <input matInput
           title="registrationNumberInput"
           type="number"
           formControlName="registration_number">
  </mat-form-field>

  <button mat-button
          color="primary"
          [disabled]="sportKindEditorForm.invalid || submitted">Зберегти зміни
  </button>
</form>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
