<a routerLink="create">
  <button mat-raised-button color="primary">
    Додати країну
  </button>
</a>

<router-outlet></router-outlet>

<div *ngIf="countries$ | async as countries">
  <table mat-table [dataSource]="countries | paginate: { itemsPerPage: 10, currentPage: paginatorStartPageNumber }"
         class="mat-elevation-z8">

    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let sport">{{sport._id}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Назва країни</th>
      <td mat-cell *matCellDef="let country">
        <a (click)="goToCountryEditor(country._id)">
          {{country.name}}
        </a></td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>видалити</th>
      <td mat-cell *matCellDef="let country">
        <button mat-button color="primary" (click)="onDelete(country._id)">
          видалити
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

</div>

<pagination-controls
  class="my-pagination"
  (pageChange)="paginatorStartPageNumber = $event"
  previousLabel="назад"
  nextLabel="уперед"
></pagination-controls>

