<h1>superAdmin layout</h1>
<nav>
  <ul>
    <li>
      <a routerLink="users" routerLinkActive="active">Користувачі</a>
    </li>
    <li>
      <a routerLink="places" routerLinkActive="active">Місця проведення</a>
    </li>
    <li>
      <a routerLink="sports" routerLinkActive="active">Види спорту</a>
    </li>
    <li>
      <a routerLink="coaches" routerLinkActive="active">Тренери</a>
    </li>
    <li>
      <a (click)="auth.logOut()">logOut</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>

<a (click)="goToMainPage()">на головну</a>
