<div *ngIf = "appointmentEditorForm; else loader"
     class="forms-container mat-elevation-z8"
     [ngStyle]="{padding: '2%'}">

  <p><b>Змінити інформацію про захід:</b></p>

  <form
    [formGroup]="appointmentEditorForm"
    (ngSubmit)="onEdit(appointmentEditorForm.value)"
  >
    <mat-form-field class="forms-inputs" title="title">
      <mat-label>введіть назву заходу ...</mat-label>
      <input matInput
             title="title"
             type="text"
             formControlName="title">
    </mat-form-field>

    <mat-form-field class="forms-inputs" [ngStyle]="{width: '45%'}">
      <mat-label>дата початку...</mat-label>
      <input matInput
             [min]="minDate"
             [matDatepicker]="start"
             formControlName="start">
      <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
      <mat-datepicker #start></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="forms-inputs" [ngStyle]="{width: '45%'}">
      <mat-label>дата завершення...</mat-label>
      <input matInput [min]="minFinishDate$ | async"
             [matDatepicker]="finish"
             formControlName="finish">
      <mat-datepicker-toggle matSuffix [for]="finish"></mat-datepicker-toggle>
      <mat-datepicker #finish></mat-datepicker>
    </mat-form-field>


    <form formGroupName="place">

      <mat-form-field title="country">
        <mat-label>країна проведення...</mat-label>
        <input type="search"
               placeholder="країна проведення..."
               aria-label="country"
               matInput
               formControlName="country"
               [matAutocomplete]="country">
        <mat-autocomplete #country="matAutocomplete">
          <mat-option *ngFor="let option of countryFilteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field title="region" [ngStyle]="{marginLeft: '10px', marginRight: '10px'}">
        <mat-label>регіон проведення...</mat-label>
        <input type="text"
               placeholder="регіон проведення..."
               aria-label="region"
               matInput
               formControlName="region"
               [matAutocomplete]="region">
        <mat-autocomplete #region="matAutocomplete">
          <mat-option *ngFor="let option of regionFilteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field title="town">
        <mat-label>місто проведення...</mat-label>
        <input type="search"
               placeholder="місто проведення..."
               aria-label="town"
               matInput
               formControlName="town"
               [matAutocomplete]="town">
        <mat-autocomplete #town="matAutocomplete">
          <mat-option *ngFor="let option of townFilteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field title="appointmentPlaceName">
        <mat-label>спортивна споруда...</mat-label>
        <input type="search"
               placeholder="спортивна споруда..."
               aria-label="appointmentPlaceName"
               matInput
               formControlName="appointmentPlaceName"
               [matAutocomplete]="appointmentPlaceName">
        <mat-autocomplete #appointmentPlaceName="matAutocomplete">
          <mat-option *ngFor="let option of placeNamesFilteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    </form>

    <mat-form-field class="forms-inputs" title="organizationsParticipants" [ngStyle]="{width: '46%'}">
      <mat-label>організації-учасники...</mat-label>
      <input matInput
             title="organizationsParticipants"
             type="text"
             formControlName="organizationsParticipants">
    </mat-form-field>

    <mat-form-field title="sport_kind" [ngStyle]="{width: '46%'}">
      <mat-label>вид спорту (активності)</mat-label>
      <input type="text"
             placeholder="вид спорту (активності)..."
             aria-label="sport_kind"
             matInput
             formControlName="sport_kind"
             [matAutocomplete]="sport_kind">
      <mat-autocomplete #sport_kind="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <br>
    <small>учасники: </small>
    <mat-radio-group title="participants" formControlName="participants">
      <mat-radio-button value="schoolchild">учні</mat-radio-button>
      <mat-radio-button value="students">студенти</mat-radio-button>
    </mat-radio-group>

    <small>напрям: </small>
    <mat-radio-group aria-label="Select an option" formControlName="direction">
      <mat-radio-button value="physical culture">фізичне виховання</mat-radio-button>
      <mat-radio-button value="sport">спорт</mat-radio-button>
    </mat-radio-group>

    <small>характер: </small>
    <mat-radio-group aria-label="Select an option" formControlName="character">
      <mat-radio-button value="О">О</mat-radio-button>
      <mat-radio-button value="К">К</mat-radio-button>
      <mat-radio-button value="О/К">О/К</mat-radio-button>
    </mat-radio-group>

    <br>
    <small>ранг: </small>
    <mat-radio-group aria-label="Select an option" formControlName="status">
      <mat-radio-button value="international">міжнародні</mat-radio-button>
      <mat-radio-button value="ukrainian">всеукраїнські</mat-radio-button>
      <mat-radio-button value="regional">регіональні</mat-radio-button>
    </mat-radio-group>

    <small>організатор: </small>
    <mat-radio-group aria-label="Select an option" formControlName="organiser">
      <mat-radio-button value="КФВС МОН">КФВС МОН</mat-radio-button>
      <mat-radio-button value="СССУ">СССУ</mat-radio-button>
      <mat-radio-button value="УФУС">УФУС</mat-radio-button>
    </mat-radio-group>


    <br>
    <button mat-raised-button
            color="primary"
            [disabled]="appointmentEditorForm.invalid"
            type="submit">
      Зберегти зміни
    </button>

  </form>

</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

