<div *ngIf="coachesList; else loader">

  <table mat-table
         *ngIf="coachesList.length > 0; else emptyListMessage"
         [dataSource]="coachesList | paginate: { itemsPerPage: 10, currentPage: paginatorStartPageNumber }"
         class="mat-elevation-z8">

    <ng-container matColumnDef="coachFullName">
      <th mat-header-cell *matHeaderCellDef>
        П. І. по Б.
        <button
          mat-button color="primary"
          [innerHTML]="direction ? '&#8593;' : '&#8595;'"
          (click) = sortByNames()
        >
        </button>
      </th>
      <td mat-cell *matCellDef="let coach">
        {{coach.surname + ' ' + coach.name + ' ' + coach.fathersName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>
        ID
      </th>
      <td mat-cell *matCellDef="let coach">
        {{coach.id}}
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>
        Редагувати
      </th>
      <td mat-cell *matCellDef="let coach">
        <button mat-button color="primary"
                type="button"
                (click)="goToCoachEditor(coach.id)"
        >
          Редагувати
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>
        Видалити
      </th>
      <td mat-cell *matCellDef="let coach">
        <button mat-button color="primary"
                (click)="callDeletion(coach.id)">
          Видалити
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

</div>

<pagination-controls
  class="my-pagination"
  (pageChange)="paginatorStartPageNumber = $event"
  previousLabel="назад"
  nextLabel="уперед"
></pagination-controls>

<ng-template #emptyListMessage>
  <h3 [ngStyle]="{textAlign: 'center', fontFamily: 'oswald, sans serif'}">База даних тренерів порожня</h3>
</ng-template>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<app-deletion-confirmer
  [show]="showDeleteConfirmation"
  [option]="option"
  (confirm)="onDelete($event)"
></app-deletion-confirmer>
