<form class="form-container"
  [formGroup]="activitiesCreatorForm"
      (ngSubmit)="onCreateActivity()">

  <h3>Додайте активність</h3>

  <mat-form-field class="forms-inputs">
    <mat-label>введіть назву заняття...</mat-label>
    <input matInput
           title="for title"
           type="text"
           #title
           formControlName="title">
  </mat-form-field>

  <mat-form-field class="forms-inputs">
    <mat-label>введіть автора...</mat-label>
    <input matInput
           title="for author"
           type="text"
           formControlName="author">
  </mat-form-field>

  <quill-editor
    title="for content"
    formControlName="content"
    placeholder="розмістіть текст..."></quill-editor>

  <button
    mat-raised-button
    type="submit"
    [disabled]="activitiesCreatorForm.invalid">Додати</button>
</form>
