<form class="login-container"
      [formGroup]="userCreatorForm"
      (ngSubmit)="onSubmit()">

  <h3>Редагувати дані користувача</h3>

  <div class="alert info" *ngIf="message">
    {{ message }}
  </div>

  <mat-form-field class="xl forms-inputs">
    <mat-label>введіть емейл...</mat-label>
    <input matInput
           title="emailInput"
           type="text"
           formControlName="email">
  </mat-form-field>

  <mat-form-field class="xl forms-inputs">
    <mat-label title="passwordInput">введіть пароль...</mat-label>
    <input matInput
           title="passwordInput"
           type="text"
           formControlName="password">
  </mat-form-field>

  <mat-form-field class="xl forms-inputs">
    <mat-label title="passwordCheckInput">повторіть пароль...</mat-label>
    <input matInput
           title="passwordInput"
           type="text"
           formControlName="passwordCheck"
           (keyup)="checkPasswords()"
    >
  </mat-form-field>

  <mat-form-field class="xl forms-inputs">
    <mat-label>оберіть роль користувача...</mat-label>
    <input matInput
           title="roleInput"
           type="text"
           formControlName="role">
  </mat-form-field>

  <button mat-button
          color="primary"
          [disabled]="userCreatorForm.invalid || submitted">Зареєструвати
  </button>
</form>

