<form *ngIf="countryEditorForm; else loader"
      [formGroup]="countryEditorForm"
      (ngSubmit)="onSubmit()">

  <h4>Змініти назву країни</h4>

  <div class="alert danger" *ngIf="countryService.error$ | async as error">
    {{ error }}
  </div>

  <div class="alert info" *ngIf = "message && countryEditorForm.untouched">
    {{ message }}
  </div>

  <mat-form-field>
    <mat-label>введіть назву...</mat-label>
    <input matInput
           title="countryNameInput"
           type="text"
           formControlName="country_name">
  </mat-form-field>

  <button mat-button
          color="primary"
          [disabled]="countryEditorForm.invalid || submitted">Зберегти зміни
  </button>
</form>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
