<div *ngIf="applicationForm; else loader" class="mat-elevation-z8" [ngStyle]="{padding: '1% 2%'}">

  <h4>Подати заявку до участі в змаганнях</h4>
  <h5>{{appointment.title + ', ' + appointment.appointment_place.town.town_name + ', '}}
    {{appointment.start | date: 'dd.MM.yy' + '-'}}
    {{appointment.finish | date: 'dd.MM.yy'}}
  </h5>

  <form
    [formGroup]="applicationForm"
    (ngSubmit)="onApply(applicationForm.value)"
  >
    <b>учасник: </b>
    <mat-form-field class="narrow forms-inputs">
      <mat-label>прізвище...</mat-label>
      <input matInput
             title="for participant_surname"
             type="text"
             formControlName="participant_surname">
    </mat-form-field>

    <mat-form-field class="narrow forms-inputs">
      <mat-label>ім'я...</mat-label>
      <input matInput
             title="for participant_name"
             type="text"
             formControlName="participant_name">
    </mat-form-field>

    <mat-form-field class="narrow forms-inputs">
      <mat-label>по-батькові...</mat-label>
      <input matInput
             title="for participant_fathersName"
             type="text"
             formControlName="participant_fathersName">
    </mat-form-field>

    <mat-form-field class="forms-inputs" [ngStyle]="{width: '10%'}">
      <mat-label>дата народження...</mat-label>
      <input matInput
             [matDatepicker]="DoB"
             formControlName="participant_DoB">
      <mat-datepicker-toggle matSuffix [for]="DoB"></mat-datepicker-toggle>
      <mat-datepicker #DoB></mat-datepicker>
    </mat-form-field>

    <span>стать: </span>
    <mat-radio-group title="participant_gender" formControlName="participant_gender">
      <mat-radio-button value="female">Ж</mat-radio-button>
      <mat-radio-button value="male">Ч</mat-radio-button>
    </mat-radio-group>

    <mat-form-field title="region" class="narrow forms-inputs">
      <mat-label>регіон проведення...</mat-label>
      <input type="text"
             placeholder="регіон проведення..."
             aria-label="region"
             matInput
             formControlName="region"
             [matAutocomplete]="region">
      <mat-autocomplete #region="matAutocomplete">
        <mat-option *ngFor="let option of regionFilteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="narrow forms-inputs">
      <mat-label>заклад освіти...</mat-label>
      <input matInput
             title="for eduentityName"
             type="text"
             formControlName="eduentityName">
    </mat-form-field>

    <br>

    <b>тренер: </b>
    <mat-form-field class="forms-inputs">
      <mat-label>прізвище...</mat-label>
      <input matInput
             title="for coach_surname"
             type="text"
             formControlName="coach_surname">
    </mat-form-field>

    <mat-form-field class="forms-inputs">
      <mat-label>ім'я...</mat-label>
      <input matInput
             title="for coach_name"
             type="text"
             formControlName="coach_name">
    </mat-form-field>

    <mat-form-field class="forms-inputs">
      <mat-label>по-батькові...</mat-label>
      <input matInput
             title="for coach_fathersName"
             type="text"
             formControlName="coach_fathersName">
    </mat-form-field>

    <mat-form-field class="forms-inputs">
      <mat-label>вид програми змагань...</mat-label>
      <input matInput
             title="for discipline"
             type="text"
             formControlName="discipline">
    </mat-form-field>

    <button
      mat-button
      color="primary"
      type="submit"
      [disabled]="applicationForm.invalid || submitted"
    >
      Додати
    </button>
  </form>

</div>

<app-results-list
  [results]="listOfParticipants"
  (resultEmit)="ngOnInit($event)"></app-results-list>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
