<form class="login-container"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()">

  <h3>Увійдіть</h3>

  <div class="alert danger" *ngIf="auth.error$ | async as error">
    {{ error }}
  </div>

  <div class="alert info" *ngIf="message && loginForm.untouched">
    {{ message }}
  </div>


  <div>
    <mat-icon aria-hidden="false" aria-label="emailInput">email</mat-icon>
    <mat-form-field class="xl forms-inputs">
      <mat-label>введіть емейл...</mat-label>
      <input matInput
             class="logInput"
             title="emailInput"
             type="text"
             formControlName="email">
    </mat-form-field>
    <div *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid">
      <small class="error" *ngIf="loginForm.get('email').errors.required">поле повинно бути заповнене</small>
      <small class="error" *ngIf="loginForm.get('email').errors.email">введіть коректну адресу електронної пошти</small>
    </div>
  </div>

  <div>
    <mat-icon aria-hidden="false" aria-label="passwordInput">lock</mat-icon>
    <mat-form-field class="xl forms-inputs">
      <mat-label title="passwordInput">введіть пароль...</mat-label>
      <input matInput
             class="logInput"
             title="passwordInput"
             type="password"
             formControlName="password">
    </mat-form-field>
    <div *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid">
      <small class="error" *ngIf="loginForm.get('password').errors.required">поле повинно бути заповнене</small>
      <small class="error" *ngIf="loginForm.get('password').errors.minlength">
        пароль повинен бути більшим {{loginForm.get('password').errors.minlength.requiredLength}} символів
        ви ввели {{loginForm.get('password').errors.minlength.actualLength}} символів</small>
    </div>
  </div>

  <button mat-button
          color="primary"
          [disabled]="loginForm.invalid || submitted">Увійти
  </button>
</form>
