<form class="login-container"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()">

  <h3>Увійдіть</h3>

    <mat-form-field class="forms-inputs">
      <mat-label>введіть емейл...</mat-label>
      <input matInput
           title="emailInput"
           type="text"
           formControlName="email">
    </mat-form-field>

  <mat-form-field class="forms-inputs">
    <mat-label title="passwordInput">введіть пароль...</mat-label>
    <input matInput
           title="passwordInput"
           type="text"
           formControlName="password">
  </mat-form-field>

  <button mat-button
          color="primary"
          [disabled]="loginForm.invalid || submitted">Увійти</button>
</form>
