<form class="login-container"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()">

  <h3>Увійдіть</h3>

  <div class="alert danger" *ngIf="auth.error$ | async as error">
    {{ error }}
  </div>

  <div class="alert info" *ngIf="message && loginForm.untouched">
    {{ message }}
  </div>


  <div>
    <mat-icon aria-hidden="false" aria-label="emailInput">email</mat-icon>
    <mat-form-field class="xl forms-inputs">
      <mat-label>введіть емейл...</mat-label>
      <input matInput
             class="logInput"
             title="emailInput"
             type="text"
             formControlName="email">
    </mat-form-field>
  </div>

  <div>
    <mat-icon aria-hidden="false" aria-label="passwordInput">password</mat-icon>
    <mat-form-field class="xl forms-inputs">
      <mat-label title="passwordInput">введіть пароль...</mat-label>
      <input matInput
             class="logInput"
             title="passwordInput"
             type="password"
             formControlName="password">
    </mat-form-field>
  </div>

  <button mat-button
          color="primary"
          [disabled]="loginForm.invalid || submitted">Увійти
  </button>
</form>
