<button mat-button color="primary"
        [ngStyle]="{marginTop:'10px'}"
        type="button"
        (click)="goToCountryEditor()"
        *ngIf="showButton">
  Додати країну
</button>

<div *ngIf="showButton" [ngStyle]="{float: 'right'}">

  <button
    mat-button color="primary"
    (click)="this.searchValue = ''"
  >
    скинути
  </button>

  <mat-form-field >
    <mat-label>пошук ...</mat-label>
    <input matInput
           title="nameInput"
           type="text"
           #nameInput
           [(ngModel)]="searchValue"
    >
  </mat-form-field>

</div>

<router-outlet></router-outlet>

<app-country-list
  (showButton)="setShowButton($event)"
  [countries]="countries | search : searchValue : searchField"
></app-country-list>
