<button mat-button color="primary"
        [ngStyle]="{marginTop:'10px'}"
        type="button"
        (click)="goToSportKindEditor()"
        *ngIf="showButton">
  Додати вид спорту
</button>

<div *ngIf="showButton" [ngStyle]="{float: 'right'}">

  <button
    mat-button color="primary"
    (click)="this.searchValue = ''"
  >
    скинути
  </button>

  <mat-form-field >
    <mat-label>пошук за {{searchOption ? 'назвою' : 'типом'}}...</mat-label>
    <input matInput
           title="nameInput"
           type="text"
           #nameInput
           [(ngModel)]="searchValue"
    >
  </mat-form-field>

  <button
    mat-button color="primary"
    (click)="changeSearchOption()"
  >
    змінити, шукати за {{searchOption ? 'типом' : 'назвою'}}
  </button>
</div>

<router-outlet></router-outlet>

<app-sport-kind-list
  (showButton)="setShowButton($event)"
  [sportKinds]="sportKinds | search : searchValue : searchField"
></app-sport-kind-list>
