<form *ngIf="regionEditorForm; else loader"
      [formGroup]="regionEditorForm"
      (ngSubmit)="onSubmit(regionEditorForm.value)">

  <h4>Редагувати регіон</h4>

  <div class="alert danger" *ngIf="regionService.error$ | async as error">
    {{ error }}
  </div>

  <div class="alert info" *ngIf = "message && regionEditorForm.untouched">
    {{ message }}
  </div>

  <mat-form-field>
    <mat-label>введіть назву...</mat-label>
    <input matInput
           title="nameInput"
           type="text"
           formControlName="region_name">
  </mat-form-field>

  <small>група регіонів: </small>
  <mat-radio-group title="region_group" formControlName="region_group">
    <mat-radio-button value="1">перша</mat-radio-button>
    <mat-radio-button value="2">друга</mat-radio-button>
    <mat-radio-button value="3">третя</mat-radio-button>
  </mat-radio-group>

  <button mat-button
          color="primary"
          [disabled]="regionEditorForm.invalid || submitted">Зберегти зміни
  </button>
</form>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

