<form class="mat-elevation-z8"
      [formGroup]="sportHallCreatorForm"
      (ngSubmit)="onSubmit()">

  <small><b>Додати спортивну споруду</b></small>

  <div class="alert danger" *ngIf="sportHallService.error$ | async as error">
    {{ error }}
  </div>

  <div class="alert info" *ngIf = "message && sportHallCreatorForm.untouched">
    {{ message }}
  </div>

  <mat-form-field>
    <mat-label>введіть назву спортивної споруди...</mat-label>
    <input matInput
           title="nameInput"
           type="text"
           formControlName="sport_hall_name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>введіть адресу спортивної споруди...</mat-label>
    <input matInput
           title="addressInput"
           type="text"
           formControlName="address">
  </mat-form-field>

  <mat-form-field title="country">
    <mat-label>країна проведення...</mat-label>
    <input type="text"
           placeholder="країна проведення..."
           aria-label="country"
           matInput
           formControlName="country_name"
           [matAutocomplete]="country">
    <mat-autocomplete #country="matAutocomplete">
      <mat-option *ngFor="let option of countryFilteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field title="region">
    <mat-label>регіон проведення...</mat-label>
    <input type="text"
           placeholder="регіон проведення..."
           aria-label="region"
           matInput
           formControlName="region_name"
           [matAutocomplete]="region">
    <mat-autocomplete #region="matAutocomplete">
      <mat-option *ngFor="let option of regionFilteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field title="town">
    <mat-label>місто проведення...</mat-label>
    <input type="text"
           placeholder="місто проведення..."
           aria-label="town"
           matInput
           formControlName="town_name"
           [matAutocomplete]="town">
    <mat-autocomplete #town="matAutocomplete">
      <mat-option *ngFor="let option of townFilteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button mat-button
          color="primary"
          [disabled]="sportHallCreatorForm.invalid || sportHallCreatorForm.disabled">Додати
  </button>
</form>

