<div *ngIf="coachForm; else loader">

<form
  [formGroup]="coachForm"
>
  <small>Додати тренера:</small>
  <mat-form-field class="forms-inputs">
    <mat-label>прізвище...</mat-label>
    <input matInput
           title="for surname"
           type="text"
           #nameInput
           formControlName="surname">
  </mat-form-field>

  <mat-form-field class="forms-inputs">
    <mat-label>ім'я...</mat-label>
    <input matInput
           title="for name"
           type="text"
           formControlName="name">
  </mat-form-field>

  <mat-form-field class="forms-inputs">
    <mat-label>по-батькові...</mat-label>
    <input matInput
           title="for fathersName"
           type="text"
           formControlName="fathersName">
  </mat-form-field>

  <button mat-button
          color="primary"
          type="button"
          (click)="onCreate(coachForm.value)"
          [disabled]="coachForm.invalid || submitted"
  >
    Додати
  </button>

</form>

</div>
<app-coaches-list [coachesList]="coachesList"></app-coaches-list>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
