<div *ngIf="coachForm; else loader">

  <button mat-button color="primary"
          type="button"
          (click)="showCoachForm = !showCoachForm"
          *ngIf="!showCoachForm">
    Додати тренера
  </button>

  <form
    [formGroup]="coachForm"
    *ngIf="showCoachForm"
  >
    <small>Додати тренера:</small>
    <mat-form-field class="forms-inputs">
      <mat-label>прізвище...</mat-label>
      <input matInput
             title="for surname"
             type="text"
             #nameInput
             formControlName="surname">
    </mat-form-field>

    <mat-form-field class="forms-inputs">
      <mat-label>ім'я...</mat-label>
      <input matInput
             title="for name"
             type="text"
             formControlName="name">
    </mat-form-field>

    <mat-form-field class="forms-inputs">
      <mat-label>по-батькові...</mat-label>
      <input matInput
             title="for fathersName"
             type="text"
             formControlName="fathersName">
    </mat-form-field>

    <button mat-button
            *ngIf="creatOrEditor"
            color="primary"
            type="button"
            (click)="onCreate(coachForm.value)"
            [disabled]="coachForm.invalid || submitted"
    >
      Додати
    </button>

    <button mat-button
            *ngIf="!creatOrEditor"
            color="primary"
            type="button"
            (click)="onUpdate(coachForm.value)"
            [disabled]="coachForm.invalid || submitted"
    >
      Зберегти зміни
    </button>

    <button mat-button
            color="primary"
            type="button"
            (click)="resetCoachForm()"
    >
      Скасувати
    </button>

  </form>

</div>

<app-coaches-list
  [coachesList]="coachesList"
  (coachEventEmitter)="ngOnInit($event)"
  *ngIf="coachesList.length > 0; else emptyListMessage"
></app-coaches-list>

<ng-template #emptyListMessage>
    <h3 [ngStyle]="{textAlign: 'center', fontFamily: 'oswald, sans serif'}">База даних тренерів порожня</h3>
</ng-template>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
