<div *ngIf="results; else loader">
  <p>ІМЕННА ЗАЯВКА</p>
  <p></p>
<table mat-table
       [dataSource]="results | paginate: { itemsPerPage: 10, currentPage: paginatorStartPageNumber }"
       class="mat-elevation-z8">

  <ng-container matColumnDef="participant">
    <th mat-header-cell *matHeaderCellDef>Учасник</th>
    <td mat-cell *matCellDef="let result">
      {{result.participant.surname + ' ' + result.participant.name}}
    </td>
  </ng-container>

  <ng-container matColumnDef="region">
    <th mat-header-cell *matHeaderCellDef>Регіон</th>
    <td mat-cell *matCellDef="let result">
      {{result.reg.region_name}}
    </td>
  </ng-container>

  <ng-container matColumnDef="eduentity">
    <th mat-header-cell *matHeaderCellDef>Заклад освіти</th>
    <td mat-cell *matCellDef="let result">
      {{result.eduentity.name}}
    </td>
  </ng-container>

  <ng-container matColumnDef="DoB">
    <th mat-header-cell *matHeaderCellDef>Дата народження</th>
    <td mat-cell *matCellDef="let result">
      {{result.participant.DoB | date: 'dd.MM.yy'}}
    </td>
  </ng-container>

  <ng-container matColumnDef="coach">
    <th mat-header-cell *matHeaderCellDef>Тренер</th>
    <td mat-cell *matCellDef="let result">
      {{result.coach.surname + ' ' + result.coach.coach_name}}
    </td>
  </ng-container>

  <ng-container matColumnDef="discipline">
    <th mat-header-cell *matHeaderCellDef>Дисципліна</th>
    <td mat-cell *matCellDef="let result">
      {{result.discipline}}
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let result">
      <button
        mat-button
        color="primary"
        (click)="goToOneResultEditor(result.id)"
      >Редагувати</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

</table>

</div>

<pagination-controls
  class="my-pagination"
  (pageChange)="paginatorStartPageNumber = $event"
  previousLabel="назад"
  nextLabel="уперед"
></pagination-controls>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
