<nav>
  <ul>
    <li>
      <button mat-button color="primary" class="widthButton" (click)="changeEduEntityType('ЗЗСО')">
        ЗЗСО
      </button>
    </li>
    <li>
      <button mat-button color="primary" class="widthButton" (click)="changeEduEntityType('ЗП(ПТ)О')">
        ЗП(ПТ)О
      </button>
    </li>
    <li>
      <button mat-button color="primary" class="widthButton" (click)="changeEduEntityType('ЗФПВО')">
        ЗФПВО
      </button>
    </li>
    <li>
      <button mat-button color="primary" class="widthButton" (click)="changeEduEntityType('ЗВО')">
        ЗВО
      </button>
    </li>
  </ul>
</nav>

<button mat-button color="primary"
        type="button"
        (click)="goToEducationEntityEditor()"
        *ngIf="showButton">
  Додати заклад освіти
</button>

<router-outlet></router-outlet>

<app-education-entity-list
  (showButton)="setShowButton($event)"
></app-education-entity-list>
