<div *ngIf="towns; else loader">

  <table mat-table
         *ngIf="towns.length > 0; else empty"
         [dataSource]="towns | paginate: { itemsPerPage: 10, currentPage: paginatorStartPageNumber }"
         class="mat-elevation-z8">

    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let town">{{town.id}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Місто</th>
      <td mat-cell *matCellDef="let town">
        <a>
          {{town.town_name}}
        </a></td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>Країна</th>
      <td mat-cell *matCellDef="let town">
        {{town.region.country.country_name | titlecase}}
    </ng-container>

    <ng-container matColumnDef="region">
      <th mat-header-cell *matHeaderCellDef>Регіон</th>
      <td mat-cell *matCellDef="let town">
        {{town.region.region_name}}
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>видалити</th>
      <td mat-cell *matCellDef="let town">
        <button mat-button color="primary" (click)="editTown(town)">
          Редагувати
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>видалити</th>
      <td mat-cell *matCellDef="let town">
        <button mat-button color="primary" (click)="callDeletion(town.id)">
          Видалити
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <ng-template #empty>
    <h3 [ngStyle]="{textAlign: 'center', fontFamily: 'oswald, sans serif'}">База даних міст порожня</h3>
  </ng-template>

</div>

<pagination-controls
  class="my-pagination"
  (pageChange)="paginatorStartPageNumber = $event"
  previousLabel="назад"
  nextLabel="уперед"
></pagination-controls>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<app-deletion-confirmer
  [show]="showDeleteConfirmation"
  [option]="options"
  (confirm)="onDelete($event)"
></app-deletion-confirmer>

