<form class="login-container"
      [formGroup]="sportKindCreatorForm"
      (ngSubmit)="onSubmit()">

  <small>Додайте вид спорту (активності)</small>

  <mat-form-field class="xl forms-inputs">
    <mat-label>введіть назву виду активності...</mat-label>
    <input matInput
           title="sportKindInput"
           type="text"
           formControlName="sport_kind">
  </mat-form-field>

  <b>оберіть групу видів спорту:</b>
  <mat-radio-group title="typeInput" formControlName="program">
    <mat-radio-button value="I">олімпійські</mat-radio-button>
    <mat-radio-button value="II">неолімпійські</mat-radio-button>
    <mat-radio-button value="III">пара(деф)лімпійські</mat-radio-button>
    <mat-radio-button value="IV">інші</mat-radio-button>
  </mat-radio-group>

  <button mat-button
          color="primary"
          [disabled]="sportKindCreatorForm.invalid || submitted">Додати
  </button>
</form>


