<h2>РЕЙТИНГ ЗАКЛАДІВ ОСВІТИ</h2>

<div class="btn-container">

  <button mat-raised-button color="primary" (click)="changeEduEntityType()">
    змінити тип закладу освіти
  </button>
  <button mat-raised-button color="primary" (click)="changeEduEntityCategory()"
          [disabled]="eduEntityType !== 'ЗВО'">
    категорія
  </button>
  <button mat-raised-button color="primary" (click)="showRatingByDirection()">
    фіз.культура/спорт
  </button>
  <button mat-raised-button color="primary" (click)="showRatingWithoutDirection()">
    фк-спорт загалом
  </button>
  <button mat-raised-button color="primary" (click)="showRatingByGender()">
    дівчата/хлопці
  </button>
</div>

<h3>Кращі {{titleEduEntity}} в напрямі {{titleDirection}} за результатами {{titleParticipant}}</h3>

<div class="table-container">

  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="participantName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="resultsOwnerStudent.surname"> Заклад освіти </th>
      <td mat-cell *matCellDef="let ratingBrick"><b>{{ratingBrick.resultsOwnerEduEntity.name}}</b></td>
    </ng-container>

    <ng-container matColumnDef="participantGender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="participant.gender"> Категорія {{eduEntityCategory}} </th>
      <td mat-cell *matCellDef="let ratingBrick">{{ratingBrick.resultsOwnerEduEntity.category}}</td>
    </ng-container>

    <ng-container matColumnDef="totalRating" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header="totalRating"
      > Рейтингових<br>балів </th>
      <td mat-cell *matCellDef="let ratingBrick" [ngStyle]="{ textAlign: 'center' }">
        {{ratingBrick.totalRating}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

</div>

<mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
