<div class="table-container">
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="title"> Захід </th>
      <td mat-cell *matCellDef="let appointment"> {{appointment.title}} </td>
    </ng-container>

    <ng-container matColumnDef="termsOfHolding">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="startDate"> Терміни<br>проведення </th>
      <td mat-cell *matCellDef="let appointment">
        {{appointment.startDate | date : 'dd.MM.yy'}}<br>
        {{appointment.finishDate | date : 'dd.MM.yy'}}</td>
    </ng-container>

    <ng-container matColumnDef = "placeOfHolding">
      <th mat-header-cell *matHeaderCellDef> Місце<br>проведення </th>
      <td mat-cell *matCellDef="let appointment">
        {{appointment.placeOfHolding.town + ' ' + appointment.placeOfHolding.region}}<br>
        {{appointment.placeOfHolding.country}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

</div>

<mat-paginator [pageSizeOptions]="[15, 10, 5, 20]" showFirstLastButtons></mat-paginator>
