<h5>Головна сторінка. Тут будуть новини, презентація сайту а також зручні посилання для навігації до найцікавіших його частин</h5>
<app-deletion-confirmer></app-deletion-confirmer>
<div class="presentation">
  Вітаю! Цей блок буде видалений, зараз він тут аби познайомити вас з структурою сайту.
  <br>Вона складатиметься з трьох основних
  рівнів.<br>
  <b>1. Головний рівень.</b><br>
  Доступ до головного рівню відбуватиметься переходом за адресою сайту, ви зараз знаходитесь на ньому.<br>
  Тут користувач зможе подивитися новини, уроки з активностями, розклад заходів і рейтинги.<br>
  <b>2. Admin рівень.</b><br>
  Доступ до нього можна буде отримати тільки авторизованим користувачам за роутом "адреса сайту/admin".<br>
  Зараз ви зможете перейти на адмін рівень за посиланням:
  <a (click)="goToAdminPage()" [ngStyle]="{color: 'red'}">admin</a> для логіну емейл santre8@gmail.com пароль test.
  На реальному сайті його не буде<br>
  На адмін рівні авторизовані користувачі зможуть додавати заходи, активності, уроки, результати, редагувати існуючі
  а також переглядати статистику.<br>
  <b>3. FinAdmin рівень.</b><br>
  Доступ до нього можна буде отримати тільки авторизованим користувачам за роутом "адреса сайту/expenses".<br>
  Зараз ви зможете перейти на finадмін рівень за посиланням:
  <a (click)="goToFinAdminPage()" [ngStyle]="{color: 'red'}">finadmin</a> для логіну емейл santre8@gmail.com пароль test.
  На реальному сайті його не буде<br>
  На finадмін рівні авторизовані користувачі зможуть керувати витратами по заходам.
</div>
