<h3>Вітаємо, друзі!<br>
  Учні, студенти, батьки і родини!<br>
  Вчителі, викладачі, керівники закладів освіти!<br>
  Ви на порозі портала до чудового світу рухової активності та здорового образу життя.<br>
  Тут ви знайдете актуальні:<br>
  знання як, де і чим займатися;<br>
  тренди і рухові активності;<br>
  заходи і змагання (і зможете зареєтруватися до участі в них!); <br>
  нормативні документи...<br>
  і багато іншого!
  Долучайтеся!
</h3>
<h1>Якщо ти наважишся взятися за виконання цієї місії - заходь і ... :</h1>
<h2>БУДЬ РОЗУМНИМ, АКТИВНИМ, ТВОРЧИМ!</h2>
<app-deletion-confirmer></app-deletion-confirmer>
