<div *ngIf="countriesList; else loader">

  <table mat-table
         *ngIf="countriesList.length > 0; else empty"
         [dataSource]="countriesList | paginate: { itemsPerPage: 10, currentPage: paginatorStartPageNumber }"
         class="mat-elevation-z8">

    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let region">{{region.id}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Країна</th>
      <td mat-cell *matCellDef="let country">
        {{country.countryName}}
      </td>
    </ng-container>


    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>рндагувати</th>
      <td mat-cell *matCellDef="let country">
        <button mat-button color="primary" (click)="goToCountryEditor(country.id)">
          Редагувати
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>видалити</th>
      <td mat-cell *matCellDef="let region">
        <button mat-button color="primary" (click)="callDeletion(region.id)">
          Видалити
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <ng-template #empty>
    <h3 [ngStyle]="{textAlign: 'center', fontFamily: 'oswald, sans serif'}">База даних країн порожня</h3>
  </ng-template>

</div>

<pagination-controls
  class="my-pagination"
  (pageChange)="paginatorStartPageNumber = $event"
  previousLabel="назад"
  nextLabel="уперед"
></pagination-controls>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<app-deletion-confirmer
  [show]="showDeleteConfirmation"
  [option]="options"
  (confirm)="onDelete($event)"
></app-deletion-confirmer>



