@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");

html, body {
  height: 100%;
}

body {
  margin: 5px 9% 5px 9%;
  font-family: "Roboto Condensed", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

a:hover {
  color: gold;
}

a.active {
  color: white;
}

nav{
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  margin-bottom: 5px;
}

nav h1, h2 {
  font-family: "Roboto Condensed", sans-serif;
  color: gold;
}

@media (max-width: 400px) {
  nav {
    margin: 0;
    padding: 0;
  }
  nav li {
    padding: 0;
    margin: 0;
    font-size: 3vw;
  }
}

nav li {
  display: inline-block;
  padding-left: 1vw;
}

button {
  margin: 3px 0 3px 0;
  border-radius: unset;
  color: black;
}

.btn-container {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  align-items: center;
  text-align: center;
}

.btn-container button {
  border-radius: unset;
  color: gray;
}

.btn-container button:hover {
  color: blue;
}

.btn-container button.active {
  color: blue;
}

.form-container {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: block;
  padding: 20px 10px 20px 20px ;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50vw;
  height: 40vh;
}

.login-container {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
  border: solid grey 1px;
  margin-top: 20px;
  width: 60vh;
}

.forms-inputs {
  padding-right: 1%;
  padding-left: 1%;
  font-family: "Roboto Condensed", sans-serif;
}

.schedule {
  width: 80%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.schedule th {
  font-size: 25px;
  text-decoration: black;
}

.schedule td {
  font-size: 20px;
  justify-content: space-between;
}

.presentation {
  font-family: "Oswald", "Roboto Condensed", sans-serif;
  margin: 5vh 10% 0 10%;
  font-size: medium;
  border: dotted grey 1px;
}

.table-container {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  padding-bottom: 10px;
  border-bottom: dotted grey 1px;
}

table {
  width: 100%;
}

table td {
  font-family: "Roboto Condensed", sans-serif;
  padding-left: 5px;
  padding-right: 5px;
}

mat-radio-group {
  margin: 0 1%;
  font-family: "Roboto Condensed", sans-serif;
  color: grey;
}

mat-radio-button {
  margin-bottom: 1%;
  padding-right: 1%;
}

.spinner {
  margin: 20px auto;
  display: block;
}

.error {
  color: red;
}

.alert {
  color: white;
  margin-top: -22px;
  padding-left: 2px;
  background-color: red;
  text-align: center;
  padding-bottom: 3px;
}

.danger {
  background-color: red;
}

.info {
  background-color: grey;
}

.my-pagination  {
  font-family: "Oswald", "Roboto Condensed", sans-serif;
  font-size: 13px;
}

.title h2, h3, h4 {
  text-align: center;
}

.dn {
  display: none;
}
