<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<div *ngIf="coachForm; else loader">

  <form [formGroup]="coachForm">

    <small>{{createOrEditLabelName}}</small>

    <mat-form-field class="forms-inputs">
      <mat-label>прізвище...</mat-label>
      <input matInput
             title="for surname"
             type="text"
             formControlName="surname"
             #name
      >
    </mat-form-field>

    <mat-form-field class="forms-inputs">
      <mat-label>ім'я...</mat-label>
      <input matInput
             title="for name"
             type="text"
             formControlName="name">
    </mat-form-field>

    <mat-form-field class="forms-inputs">
      <mat-label>по-батькові...</mat-label>
      <input matInput
             title="for fathersName"
             type="text"
             formControlName="fathersName">
    </mat-form-field>

    <button mat-button
            color="primary"
            type="button"
            (click)="onSubmit(coachForm.value)"
            [disabled]="coachForm.invalid || submitted"
    >
      {{createOrEditLabelName}}
    </button>

    <button mat-button
            color="primary"
            type="button"
            (click)="resetCoachForm()"
    >
      Скасувати
    </button>

  </form>
</div>

